@import "tailwindcss";


h1{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
h2{
    font-size: 30px;
    font-weight: 600;
}

.light{
height:100vh;
background-color :black;
color:white;
}
.dark{
height:100vh;
background-color : white;
color:black;
}

.dark button{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}
.light button{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);

}