:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 20px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #24acce;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  font: inherit;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.Container {
display: flex;
justify-content: space-between;
margin: 200px;
gap:20px;
}

.field{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.Show{
    width: 400px;
    height: 300px;
    background-color: #535bf2;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}